{% block content %}
  <form method="get">
    <label for="search_keyword">keyword</label>
    <input name="search_keyword" id="search_keyword">
    <label for="search_city">city</label>
    <input name="search_city" id="search_city">
    <label for="search_cuisine">cuisine</label>
    <input name="search_cuisine" id="search_cuisine">
    <label for="search_hashtag">hashtag</label>
    <input name="search_hashtag" id="search_hashtag">
    <input type="submit" value="Search">
  </form>
{% endblock %}