  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>

    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>

    <label for="telephone">Telephone</label>
    <input type="telephone" name="telephone" id="telephone" required>

    <label for="zipcode">Zipcode</label>
    <input type="zipcode" name="zipcode" id="zipcode" required>

    <input type="submit" value="Register">
  </form>
